<app-header></app-header>

<div class="trailer">
    <p id="info">TRAILER</p>
    <iframe class="video" width="80%" height="70%" src="https://www.youtube.com/embed/ixl31324UxE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="l-header__preorder">
        <div class="l-header__release">Coming December 10th, 2020</div>
        <a href="http://cyberpunk.net/pre-order" target="_blank">PRE-ORDER</a>
        <div class="l-header__platforms"><img src="https://www.cyberpunk.net/build/images/home/logo-xboxone-58193d9d.svg"
                alt=""><img src="https://www.cyberpunk.net/build/images/home/logo-ps4-0fccb0e9.svg" alt=""><img
                src="https://www.cyberpunk.net/build/images/home/logo-pc-c7d9e6db.svg" alt=""><img
                class="l-header__platforms--stadia"
                src="https://www.cyberpunk.net/build/images/home/logo-google-stadia-c9199647.svg" alt=""></div>
        <div class="l-header__consoles">PLAYS GREAT ALSO ON XBOX SERIES S | X AND PS5</div>
    </div>
</div>

<div class="gallery">
    <p id="info">SHOWCASE</p>
    <div class="items">
        <iframe class="item" width="560" height="315" src="https://www.youtube.com/embed/UnmsqFq4TVc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="item" width="560" height="315" src="https://www.youtube.com/embed/vjF9GgrY9c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="item" width="560" height="315" src="https://www.youtube.com/embed/YlyDJVYqfpA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>